/*
font-family: 'Lobster', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Spectral', serif;
*/

@mixin tablet() {
	@media screen and (min-width: 700px) {
		@content;
	}
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.slide {
	color: white;
	min-height: 80vh;
	padding: 20px;
	text-align: center;

	&:nth-of-type(1) {
		background-color: rgba(75, 29, 49, 0.82);
	}

	&:nth-of-type(2) {
		background-color: rgba(75, 61, 39, 0.82);
	}

	&:nth-of-type(3) {
		background-color: rgba(54, 75, 33, 0.82);
	}

	&:nth-of-type(4) {
		background-color: rgba(30, 75, 64, 0.82);
	}

	&:nth-of-type(5) {
		background-color: rgba(29, 44, 75, 0.82);
	}

	@include tablet {
		padding: 40px;
	}

	a {
		color: white;
	}
}

.main-title {
	font-family: 'Lobster', cursive;
	font-size: 50px;
	margin-top: calc(40vh - 100px);
}

.dates, .where {
	margin-top: 20px;
}

.section-title {
	font-family: 'Spectral', serif;
	font-size: 30px;
	line-height: 1.3em;
	margin-top: calc(30vh - 50px);
}

.copy {
	margin-top: 20px;
	font-family: 'Open Sans', sans-serif;
}